name: Deploy Project
on: [push, workflow_dispatch]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v4
  deploy:
    needs: test
    runs-on: ubuntu-latest
    steps: 
      - name: Get code
        uses: actions/checkout@v4
      - name: Build project
        run: dbx run build
      - name: Install dbx
        run: |
          # Install dbx dependencies (if needed)
          sudo apt-get update
          sudo apt-get install dbx
      - name: Set PATH for dbx
        run: |
          export PATH=$PATH:/Repos/girma@nubires.onmicrosoft.com/graphite/notebooks/ingest_circute_fiel
